# Variables de entorno
.env
*.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Entorno virtual
venv/
env/

# VS Code
.vscode/

# Logs y datos
*.log
*.db
*.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db